<h3><i class="fa fa-info-circle" style="color:#191970" aria-hidden="true"></i> <a class="hover-underline-animation" href='{{site.url}}/about-Phillip.html'>About Phillip</a></h3>
<h3><i class="fa fa-terminal" style="color:#191970" aria-hidden="true"></i> <a class="hover-underline-animation" href='{{site.url}}/projects.html'>Projects</a></h3>
<h3><i class="fa fa-book" style="color:#191970" aria-hidden="true"></i> <a class="hover-underline-animation" href='{{site.url}}/publications.html'>Publications</a></h3>
<h3><i class="fa fa-rss-square" style="color:#191970" aria-hidden="true"></i> <a class="hover-underline-animation" href='{{site.url}}/blogview/'>Blog Posts</a></h3>
  <ul>
    {% for post in site.posts limit:5 %}
      <li>
        <a class="hover-underline-animation" href="{{ post.url }}" style="font-size: 12px">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
