<h3><i class="fa fa-info-circle" style="color:Dodgerblue" aria-hidden="true"></i> <a href='{{site.url}}/about-Phillip.html'>About Phillip</a></h3>
<h3><i class="fa fa-terminal" aria-hidden="true"></i> <a href='{{site.url}}/projects.html'>Projects</a></h3>
<h3><i class="fa fa-book" aria-hidden="true"></i> <a href='{{site.url}}/publications.html'>Publications</a></h3>
<h3><i class="fa fa-square" aria-hidden="true"></i> <a href='{{site.url}}/blogview/'>Blog Posts</a></h3>
  <ul>
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
