<h4><i class="fa fa-info-circle" style="color:#191970" aria-hidden="true"></i> <a class="hover-underline-animation" href='{{site.url}}/about-Phillip.html'>About Phillip</a></h4>
<h4><i class="fa fa-terminal" style="color:#191970" aria-hidden="true"></i> <a class="hover-underline-animation" href='{{site.url}}/projects.html'>Projects</a></h4>
<h4><i class="fa fa-book" style="color:#191970" aria-hidden="true"></i> <a class="hover-underline-animation" href='{{site.url}}/publications.html'>Publications</a></h4>
<h4><i class="fa fa-rss-square" style="color:#191970" aria-hidden="true"></i> <a class="hover-underline-animation" href='{{site.url}}/blogview/'>Blog Posts</a></h4>
  <ul>
    {% for post in site.posts %}
      <li>
        <a class="hover-underline-animation" href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
