---
layout: default
---

<p style="color:#F62817;font-weight:bold">{{ page.categories | first | upcase }}</p>
{%- if page.image -%}
    <img src="{{ site.url }}/assets/images/featured-image/{{ page.image }}" alt="{{ page.alt}}">
{%- endif -%}
<br>
<h1>{{ page.title }}</h1>

<img src="https://www.phillipkittelson.com/assets/images/PhillProfile.jpg" alt="Avatar" class="avatar"><b><a class="hover-underline-animation" href='{{site.url}}/about-Phillip.html'> {{ page.author }}</a></b> | {{ page.date | date: '%d %b %y' }} |
{% include read_time.html %} | {% include share.html %}
<p></p>
{{ content }}

<h3><a class="hover-underline-animation" href='{{site.url}}/blogview/'>Back...</a></h3>
<p></p>
Tags: {{ page.tags | join: ', '}}
