---
layout: default
---
<span style="font-size: 37px;font-weight: strong;">Phillip Kittelson</span>
<br>Washington D.C. Metro Area

<h2>Summary</h2>
Summary text here.

  <section>
    <h2>Experience</h2>
    {% for job in site.data.experience %}
    <div style="width:100%">
      <img src="./assets/images/resume/{{ job.logo }}" style="padding-right:5px;float:left;width:50px;height:50px;">
      <div style="width:115%;">
        <b>{{ job.position }}</b><br>
        {{ job.company }} &bull; {{ job.duration }}<br><br>
        <p style="text-align: justify">{{ job.summary }}</p>
      </div>
    </div>
    {% endfor %}
  </section>

  <section>
    <h2>Education</h2>
    {% for education in site.data.education %}
    <div style="width: 100%;">
      <img src="./assets/images/resume/{{ education.logo }}" style="padding-right:5px;float:left;width:50px;height:50px;">
      <div style="width:115%;">
        <b>{{ education.degree }}</b><br>
        {{ education.school }} &bull; {{ education.year }}<br><br>
      </div>
    </div>
    {% endfor %}
  </section>

  <section>
    <h2>Certifications</h2>
    {% for certification in site.data.certification %}
    <div style="width: 100%;">
      <img src="./assets/images/resume/{{ certification.logo }}" style="padding-right:5px;float:left;width:50px;height:50px;">
      <div style="width:115%;">
        <b>{{ certification.cert }}</b>({{ certification.certID }})<br>
        {{ certification.org }} &bull; {{ certification.year }}<br><br>
      </div>
    </div>
    {% endfor %}
  </section>

  <br><br><br><br><br><br><br>