---
layout: default
---
<span style="font-size: 37px;font-weight: strong;">Phillip Kittelson</span>
<br>Washington D.C. Metro Area

<style>
  .rounded-image {
      float: left;
      width: 40px;
      height: auto;
      border-radius: 20%; /* Adjust the value to change the roundness */
  }

  .company-details {
      margin-left: 50px;
      width: calc(100% - 50px);
  }
</style>


<h2>Summary</h2>
Phillip is a security professional with 20 years of experience in physical, industrial, personnel, and cybersecurity. Skilled with securing, defending, and countering threats to government and military networks. CISSP certification holder, ISC Exam Developer, and Adjunct Instructor.

<section>
  <h2>Instructor, Exam Development, and other Industry Work</h2>
  {% assign experience = site.data.teaching | sort: 'lateststart' | reverse %}
  {% for company in experience %}
  <div style="width:100%; position: relative;">
      <img class="rounded-image" src="./assets/images/resume/{{ company.logo }}" alt="{{ company.alt }}">
      <div class="company-details">
          {% if company.url %}
          <b style="font-size: 18px;"><a href="{{ company.url }}" target="_blank" class="hover-underline-animation">{{ company.company }}</a></b><br>
          {% else %}
          <b style="font-size: 18px;">{{ company.company }}</b><br>
          {% endif %}
          <div style="position: relative; margin-left: 8px;">
              {% for position in company.positions %}
              <div style="position: relative;">
                  <div style="position: absolute; left: -8px; top: 0; width: 8px; height: 100%; border-left: 1px solid #000;"></div>
                  <div style="position: relative; padding-left: 10px;">
                      <b>{{ position.position }}</b> &bull; {{ position.duration }}<br>
                      {% if position.description %} {{ position.description }}<br><br>{% endif %}
                      {% if position.certification %}
                        <!-- Certification(s): <b>{{ position.courses }}</b> -->
                      {% else %}
                        <b>Courses:</b>
                        <ul>
                          {% assign courses = position.courses | split: ", " %}
                          {% for course in courses %}
                          <li>{{ course }}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                  </div>
              </div>
              {% endfor %}
          </div>
      </div><br>
  </div>
  {% endfor %}
</section>

<section>
  <h2>Projects, Publications, and Papers</h2>
  {% for publication in site.data.pubs %}
  <div style="width:100%; position: relative;">
    <img class="rounded-image" src="./assets/images/publicationicons/{{ publication.logo }}" alt="{{ publication.alt }}">
    <div class="company-details">
      <b style="font-size: 18px;">{{ publication.type }}</b><br>
      <div style="position: relative; margin-left: 8px;">
        {% assign itemsort = publication.pubs | sort: 'date' | reverse %}
        {% for item in itemsort %}
        <div style="position: relative;">
          <div style="position: absolute; left: -8px; top: 0; width: 8px; height: 100%; border-left: 1px solid #000;"></div>
          <div style="position: relative; padding-left: 10px;">
            {% if item.url %}
              <b><a href="{{ item.url }}" target="_blank" class="hover-underline-animation">{{ item.title }}</a></b>{% if item.publisher %}, {{ item.publisher }} {% endif %} &bull; {{ item.date }}<br>
              {% if item.description %}{{ item.description }}<br>{% endif %}
            {% else %}
              <b>{{ item.title }}</b>{% if item.publisher %}, {{ item.publisher }} {% endif %} &bull; {{ item.date }}<br><br>
              {% if item.description %}
              <ul>
                <li>{{ item.description }}</li>
              </ul>
              {% endif %}
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div><br>
  </div>
  {% endfor %}
</section>

<section>
  <h2>Professional Experience</h2>
  {% assign experience = site.data.experience | sort: 'lateststart' | reverse %}
  {% for company in experience %}
  <div style="width:100%; position: relative;">
      <img class="rounded-image" src="./assets/images/resume/{{ company.logo }}" alt="{{ company.alt }}">
      <div class="company-details">
          {% if company.url %}
            <b style="font-size: 18px;"><a href="{{ company.url }}" target="_blank" class="hover-underline-animation">{{ company.company }}</a></b><br>
          {% else %}
            <b style="font-size: 18px;">{{ company.company }}</b><br>
          {% endif %}
          <div style="position: relative; margin-left: 8px;">
              {% for position in company.positions %}
              <div style="position: relative;">
                  <div style="position: absolute; left: -8px; top: 0; width: 8px; height: 100%; border-left: 1px solid #000;"></div>
                  <div style="position: relative; padding-left: 10px;">
                      <b>{{ position.position }}</b>{% if position.unit %}, {{ position.unit }}, {{ position.location }}{% endif %} &bull; {{ position.duration }}<br>
                      {% if position.accomplishments %}
                      <ul>
                          {% for accomplishment in position.accomplishments %}
                          <li>{{ accomplishment }}</li>
                          {% endfor %}
                      </ul>
                      {% endif %}
                  </div>
              </div>
              {% endfor %}
          </div><br>
      </div>
  </div>
  {% endfor %}
</section>

  <section>
    <h2>Education</h2>
    {% for education in site.data.education %}
    <div style="width: 100%;">
      <img class="rounded-image" src="./assets/images/resume/{{ education.logo }}" alt="{{ education.alt }}">
      <div class="company-details">
        {% if education.url %}
          <b><a href="{{ education.url }}" target="_blank" class="hover-underline-animation">{{ education.degree }}, {{ education.subject }}</a></b><br>
        {% else %}
          <b>{{ education.degree }}, {{ education.subject }}</b><br>
        {% endif %}
        {{ education.school }} &bull; {{ education.year }}<br><br>
      </div>
    </div>
    {% endfor %}
  </section>

  <section>
    <h2>Certifications, Accreditation, and Credentials</h2>
    {% assign certname = site.data.certification | sort: 'year' | reverse %}
    {% for certification in certname %}
    <div style="width: 100%;">
      <img class="rounded-image" src="./assets/images/resume/{{ certification.logo }}" alt="{{ certification.alt }}">
      <div class="company-details">
        {% if certification.url %}
          <b><a href="{{ certification.url }}" target="_blank" class="hover-underline-animation">{{ certification.cert }}</a></b><br>
        {% else %}
          <b>{{ certification.cert }}</b><br>
        {% endif %}
        {{ certification.org }} &bull; {{ certification.year }}<br><br>
      </div>
    </div>
    {% endfor %}
  </section>

  <section>
    <h2>Volunteer Experience</h2>
    {% for volunteer in site.data.volunteer %}
    <div style="width:100%">
      <img class="rounded-image" src="./assets/images/resume/{{ volunteer.logo }}" alt="{{ volunteer.alt }}">
      <div class="company-details">
        {% if volunteer.url %}
          <b><a href="{{ volunteer.url }}" target="_blank" class="hover-underline-animation">{{ volunteer.duty }}</a></b><br>
        {% else %}
          <b>{{ volunteer.duty }}</b><br>
        {% endif %}
        {{ volunteer.org }} &bull;
        {% if volunteer.endyear %}
          {{ volunteer.startyear }} &mdash; {{ volunteer.endyear }}<br><br>
        {% else %}
          {{ volunteer.startyear }}<br><br>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </section>

  <section>
    <h2>Certificate Courses</h2>
    {% assign crse = site.data.courses | sort: 'date' | reverse %}
    {% for coursename in crse %}
    <div style="width:100%">
      <img class="rounded-image" src="./assets/images/resume/{{ coursename.logo }}" alt="{{ coursename.alt }}">
      <div class="company-details">
        {% if coursename.url %}
          <b><a href="{{ coursename.url }}" target="_blank" class="hover-underline-animation">{{ coursename.course }}</a></b><br>
        {% else %}
          <b>{{ coursename.course }}</b><br>
        {% endif %}
        {{ coursename.provider }} &bull; {{ coursename.date }}<br><br>
      </div>
    </div>
    {% endfor %}
  </section>


  <br><br><br><br><br><br><br>