---
layout: default
---
<span style="font-size: 37px;font-weight: strong;">Phillip Kittelson</span>
<br>Washington D.C. Metro Area

<h2>Summary</h2>
Phillip is a security professional with 20 years of experience in physical, industrial, personnel, and cybersecurity. Skilled with securing, defending, and countering threats to government and military networks. CISSP certification holder, ISC Exam Developer, and Adjunct Instructor.

<section>
  <h2>Instructor and Exam Development Experience</h2>
  {% assign experience = site.data.teaching | sort: 'lateststart' | reverse %}
  {% for company in experience %}
  <div style="width:100%; position: relative;">
    <img src="./assets/images/resume/{{ company.logo }}" alt="{{ company.alt }}" style="padding-right:8px; float:left; width:40px; height:auto;">
    <div style="margin-left:50px; width:calc(100% - 50px);">
      {% if company.url %}
      <b style="font-size: 18px;"><a href="{{ company.url }}" target="_blank" class="hover-underline-animation">{{ company.company }}</a></b><br>
      {% else %}
      <b style="font-size: 18px;">{{ company.company }}</b><br>
      {% endif %}
      <div style="position: relative; margin-left: 8px;">
        {% for position in company.positions %}
        <div style="position: relative;">
          <div style="position: absolute; left: -8px; top: 0; width: 8px; height: 100%; border-left: 1px solid #000;"></div>
          <div style="position: relative; padding-left: 10px;">
            <b>{{ position.position }}</b> &bull; {{ position.duration }}<br>
            {% if position.certification %}
            Certification: <b>{{ position.courses }}</b>
            {% else %}
            <b>Courses:</b><ul>
              {% assign courses = position.courses | split: ", " %}
              {% for course in courses %}
              <li>{{ course }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div><br>
  </div>
  {% endfor %}
</section>

<section>
  <h2>Publications and Papers</h2>
  {% for publication in site.data.pubs %}
  <div style="width:100%; position: relative;">
    <img src="./assets/images/publicationicons/{{ publication.logo }}" alt="{{ publication.alt }}" style="padding-right:8px; float:left; width:40px; height:auto;">
    <div style="margin-left:50px; width:calc(100% - 50px);">
      <b style="font-size: 18px;">{{ publication.type }}</b><br>
      <div style="position: relative; margin-left: 8px;">
        {% assign itemsort = publication.pubs | sort: 'date' | reverse %}
        {% for item in itemsort %}
        <div style="position: relative;">
          <div style="position: absolute; left: -8px; top: 0; width: 8px; height: 100%; border-left: 1px solid #000;"></div>
          <div style="position: relative; padding-left: 10px;">
            {% if item.url %}
              <b><a href="{{ item.url }}" target="_blank" class="hover-underline-animation">{{ item.title }}</a></b>, {{ item.publisher }} &bull; {{ item.date }}<br>
            {% else %}
              <b>{{ item.title }}</b>, {{ item.publisher }} &bull; {{ item.date }}
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div><br>
    </div>
  </div>
  {% endfor %}
</section>

<section>
  <h2>Professional Experience</h2>
  {% assign experience = site.data.experience | sort: 'lateststart' | reverse %}
  {% for company in experience %}
  <div style="width:100%; position: relative;">
    <img src="./assets/images/resume/{{ company.logo }}" alt="{{ company.alt }}" style="padding-right:8px; float:left; width:40px; height:auto;">
    <div style="margin-left:50px; width:calc(100% - 50px);">
      {% if company.url %}
      <b style="font-size: 18px;"><a href="{{ company.url }}" target="_blank" class="hover-underline-animation">{{ company.company }}</a></b><br>
      {% else %}
      <b style="font-size: 18px;">{{ company.company }}</b><br>
      {% endif %}
      <div style="position: relative; margin-left: 8px;">
        {% for position in company.positions %}
        <div style="position: relative;">
          <div style="position: absolute; left: -8px; top: 0; width: 8px; height: 100%; border-left: 1px solid #000;"></div>
          <div style="position: relative; padding-left: 10px;">
            {% assign dates = job.duration | split: ' &mdash; ' %}
            {% assign start_date = dates[0] | date: '%b %Y' %}
            {% assign end_date = dates[1] | date: '%b %Y' %}
            <b>{{ position.position }}</b>{% if position.unit %}, {{ position.unit }}, {{ position.location }}{% endif %} &bull; {{ position.duration }}<br>
            

            {% assign dates = job.duration | split: ' &mdash; ' %}
            {% assign start_date = dates[0] | date: '%Y-%m-%d' %}
            {% assign end_date = dates[1] | date: '%Y-%m-%d' %}
            
            Start Date: {{ start_date | date: '%b %Y' }} <br>
            End Date: {{ end_date | date: '%b %Y' }} <br>
            
            {% capture start_timestamp %}{{ start_date | date: '%s' | plus: 0 }}{% endcapture %}
            {% capture end_timestamp %}{{ end_date | date: '%s' | plus: 0 }}{% endcapture %}
            
            {% assign diff_seconds = end_timestamp | minus: start_timestamp %}
            {% assign diff_months = diff_seconds | divided_by: 2628000 %}
            
            {% assign years = diff_months | divided_by: 12 %}
            {% assign months = diff_months | modulo: 12 %}
            
            Time Employed: {{ years }} years, {{ months }} months

            <br>
            {% if position.accomplishments %}
            <ul>
              {% for accomplishment in position.accomplishments %}
              <li>{{ accomplishment }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div><br>
    </div>
  </div>
  {% endfor %}
</section>

  <section>
    <h2>Education</h2>
    {% for education in site.data.education %}
    <div style="width: 100%;">
      <img src="./assets/images/resume/{{ education.logo }}" alt="{{ education.alt }}" style="padding-right:8px;float:left;width:40px;height:auto;">
      <div style="width:115%;">
        {% if education.url %}
        <b><a href="{{ education.url }}" target="_blank" class="hover-underline-animation">{{ education.degree }}, {{ education.subject }}</a></b><br>
        {% else %}
        <b>{{ education.degree }}, {{ education.subject }}</b><br>
        {% endif %}
        {{ education.school }} &bull; {{ education.year }}<br><br>
      </div>
    </div>
    {% endfor %}
  </section>

  <section>
    <h2>Certifications, Accreditation, and Credentials</h2>
    {% assign certname = site.data.certification | sort: 'year' | reverse %}
    {% for certification in certname %}
    <div style="width: 100%;">
      <img src="./assets/images/resume/{{ certification.logo }}" alt="{{ certification.alt }}" style="padding-right:8px;float:left;width:40px;height:auto;">
      <div style="width:115%;">
        {% if certification.url %}
        <b><a href="{{ certification.url }}" target="_blank" class="hover-underline-animation">{{ certification.cert }}</a></b><br>
        {% else %}
        <b>{{ certification.cert }}</b><br>
        {% endif %}
        {{ certification.org }} &bull; {{ certification.year }}<br><br>
      </div>
    </div>
    {% endfor %}
  </section>

  <section>
    <h2>Volunteer Experience</h2>
    {% for volunteer in site.data.volunteer %}
    <div style="width:100%">
      <img src="./assets/images/resume/{{ volunteer.logo }}" alt="{{ volunteer.alt }}" style="padding-right:8px;float:left;width:40px;height:auto;">
      <div style="width:115%;">
        {% if volunteer.url %}
          <b><a href="{{ volunteer.url }}" target="_blank" class="hover-underline-animation">{{ volunteer.duty }}</a></b><br>
          {% else %}
          <b>{{ volunteer.duty }}</b><br>
        {% endif %}
        {{ volunteer.org }} &bull;
        {% if volunteer.endyear %}
          {{ volunteer.startyear }} &mdash; {{ volunteer.endyear }}<br><br>
          {% else %}
          {{ volunteer.startyear }}<br><br>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </section>

  <section>
    <h2>Certificate Courses</h2>
    {% assign crse = site.data.courses | sort: 'date' | reverse %}
    {% for coursename in crse %}
    <div style="width:100%">
      <img src="./assets/images/resume/{{ coursename.logo }}" alt="{{ coursename.alt }}" style="padding-right:8px;float:left;width:40px;height:auto;">
      <div style="width:115%;">
        {% if coursename.url %}
        <b><a href="{{ coursename.url }}" target="_blank" class="hover-underline-animation">{{ coursename.course }}</a></b><br>
        {% else %}
        <b>{{ coursename.course }}</b><br>
        {% endif %}
        {{ coursename.provider }} &bull; {{ coursename.date }}<br><br>
      </div>
    </div>
    {% endfor %}
  </section>


  <br><br><br><br><br><br><br>