---
layout: default
---
    <style>
        .training-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin: 20px;
        }
        .training {
            width: 150px; /* Fixed width to ensure the content fits */
            height: 125px; /* Height for better display */
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #191970; /* Added background color */
            margin-bottom: 20px;
        }
        .training-info {
            padding: 15px;
            position: absolute;
            bottom: 0;
            width: 100%;
            box-sizing: border-box;
            background-color: #f0f0f0;
            font-size: 12px;
        }
        .training-info p {
            margin: 5px 0;
        }
    </style>


{% assign pagecat = "SOC Analyst" %}

{% for cat in site.data.trainingpaths %}
{% if cat.role == pagecat %}
<span style="font-size: 37px;font-weight: strong;">{{ cat.role }}</span><br>
{% if cat.status != "complete" %}<h2>Status</h2> <span style="color: rgb(255, 0, 0); font-weight: bold;">{{ cat.status | upcase }}</span>{% else %}{% endif %}
<h2>Recommended Prerequsites</h2>
    <ul>
        {% assign pre = cat.prereq | split: ", " %}
        {% for req in pre %}
        <li>{{ req }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% else %}
{% endfor %}

{% for cat in site.data.training_path_soc %}
<h2>{{ cat.category }}</h2>
<div class="training-container">
    {% for training in cat.training %}
    <div class="training">
        <div class="training-info">
          <a class="hover-underline-animation" href="{{ training.url }}" target="_blank">{{ training.title }}</a>
            <p>{% if training.provider %}{{ training.provider }}{% endif %}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}

<br><br><br><br><br><br><br>
</body>