---
layout: default
---
<span style="font-size: 37px;font-weight: strong;">Cyber Threat Hunter</span><br>

<b>Legend:</b><br>
<i class="fa-solid fa-stamp" style="color:#191970" aria-hidden="true" title="File Certificate"></i> File Certificate<br>
<i class="fa-solid fa-certificate" style="color:#191970" aria-hidden="true" title="Digital Badge"></i> Digital Badge<br>
<i class="fa-brands fa-youtube" style="color:#191970" aria-hidden="true" title="YouTube Video"></i> YouTube Video<br>
<i class="fa-solid fa-list" style="color:#191970" aria-hidden="true" title="YouTube Playlist"></i> YouTube Playlist<br>
<i class="fa-solid fa-paperclip" style="color:#191970" aria-hidden="true" title="White Paper"></i> White Paper<br>

<section>
  <h3>Foundational</h3>
  {% for training in site.data.training_path_threathunter %}
    {% if training.path == "hunter" and training.category == "foundational" %}
      <div style="width:100%">
        <img src="./assets/images/training/{{ training.logo }}" alt="{{ training.alt }}" style="padding-right:4px;float:left;width:20px;height:auto;">
        <div style="width:115%;">
          {% if training.url %}
            <b><a href="{{ training.url }}" target="_blank" class="hover-underline-animation">{{ training.title }}</a></b> &bull;
          {% else %}
            <b>{{ training.title }}</b><br>
          {% endif %}
          {{ training.source }} &bull; {{ training.type }} &bull;
          {% for entry in training.icons %}
            <i class="{{ entry.iconname }}" style="color:#191970" aria-hidden="true"></i>
          {% endfor %}
          <br>
          <b>Description:</b> {{ training.summary }}<br>
        </div>
        <br>
      </div>
    {% endif %}
  {% endfor %}

  <h3>SIEM Basics</h3>
  {% for training in site.data.training_path_threathunter %}
    {% if training.path == "hunter" and training.category == "siem" %}
      <div style="width:100%">
        <img src="./assets/images/training/{{ training.logo }}" alt="{{ training.alt }}" style="padding-right:4px;float:left;width:20px;height:auto;">
        <div style="width:115%;">
          {% if training.url %}
            <b><a href="{{ training.url }}" target="_blank" class="hover-underline-animation">{{ training.title }}</a></b> &bull;
          {% else %}
            <b>{{ training.title }}</b><br>
          {% endif %}
          {{ training.source }} &bull; {{ training.type }} &bull;
          {% for entry in training.icons %}
            <i class="{{ entry.iconname }}" style="color:#191970" aria-hidden="true"></i>
          {% endfor %}
          <br>
          <b>Description:</b> {{ training.summary }}<br>
        </div>
        <br>
      </div>
    {% endif %}
  {% endfor %}

  <h3>Phishing Analysis</h3>
  {% for training in site.data.training_path_threathunter %}
    {% if training.path == "hunter" and training.category == "phishing" %}
      <div style="width:100%">
        <img src="./assets/images/training/{{ training.logo }}" alt="{{ training.alt }}" style="padding-right:4px;float:left;width:20px;height:auto;">
        <div style="width:115%;">
          {% if training.url %}
            <b><a href="{{ training.url }}" target="_blank" class="hover-underline-animation">{{ training.title }}</a></b> &bull;
          {% else %}
            <b>{{ training.title }}</b><br>
          {% endif %}
          {{ training.source }} &bull; {{ training.type }} &bull;
          {% for entry in training.icons %}
            <i class="{{ entry.iconname }}" style="color:#191970" aria-hidden="true"></i>
          {% endfor %}
          <br>
          <b>Description:</b> {{ training.summary }}<br>
        </div>
        <br>
      </div>
    {% endif %}
  {% endfor %}

  <h3>Hunting Labs or Workshops</h3>
  {% for training in site.data.training_path_threathunter %}
    {% if training.path == "hunter" and training.category == "lab" %}
      <div style="width:100%">
        <img src="./assets/images/training/{{ training.logo }}" alt="{{ training.alt }}" style="padding-right:4px;float:left;width:20px;height:auto;">
        <div style="width:115%;">
          {% if training.url %}
            <b><a href="{{ training.url }}" target="_blank" class="hover-underline-animation">{{ training.title }}</a></b> &bull;
          {% else %}
            <b>{{ training.title }}</b><br>
          {% endif %}
          {{ training.source }} &bull; {{ training.type }} &bull;
          {% for entry in training.icons %}
            <i class="{{ entry.iconname }}" style="color:#191970" aria-hidden="true"></i>
          {% endfor %}
          <br>
          <b>Description:</b> {{ training.summary }}<br>
        </div>
        <br>
      </div>
    {% endif %}
  {% endfor %}

</section>
