---
layout: default
---

<style>
  body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
  }
  .training-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin: 0 20px;
  }
  .training {
      background-size: cover;
      background-position: center;
      width: calc(50% - 10px);
      height: 200px;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
  }
  .training-info {
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      padding: 10px;
      position: absolute;
      bottom: 0;
      width: 90%; /* Increase width */
      left: 50%; /* Center horizontally */
      transform: translateX(-50%); /* Center horizontally */
      box-sizing: border-box;
      border-radius: 0 0 10px 10px; /* Optional: rounded bottom corners */
  }
  .training-info h3 {
      margin: 0;
  }
  .training-info p {
      margin: 5px 0;
  }
  .training-info a {
      color: #00f;
      text-decoration: none;
  }
</style>
<title>Training List</title>
</head>
<body>

{% for cat in site.data.training_path_threathunter %}
<h2>{{ cat.category }}</h2>
<div class="training-container">
{% for training in cat.training %}
<div class="training" style="background-image: url('{{ training.image }}');">
  <div class="training-info">
      <h3>{{ training.title }}</h3>
      <p>Provider: {{ training.provider }}</p>
      <a href="{{ training.url }}" target="_blank">View Resource</a>
  </div>
</div>
{% endfor %}
</div>
{% endfor %}

<br><br><br><br><br><br><br>
</body>