---
layout: default
---

{% assign pagecat = "SOC Analyst" %}

{% for cat in site.data.trainingpaths %}
{% if cat.role == pagecat %}
<span style="font-size: 37px;font-weight: strong;">{{ cat.role }}</span><br>
{% if cat.status != "complete" %}<h2>Status</h2> <span style="color: rgb(255, 0, 0); font-weight: bold;">{{ cat.status | upcase }}</span>{% else %}{% endif %}
<h2>Recommended Prerequsites</h2>
    <ul>
        {% assign pre = cat.prereq | split: ", " %}
        {% for req in pre %}
        <li>{{ req }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% else %}
{% endfor %}

{% for cat in site.data.training_path_soc %}
<h2>{{ cat.category }}</h2>
<div class="training-container">
    {% for training in cat.training %}
    <div class="training">
        <div class="training-info">
          <a class="hover-underline-animation" href="{{ training.url }}" target="_blank">{{ training.title }}</a>
            <p>{% if training.provider %}{{ training.provider }}{% endif %}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}

<br><br><br><br><br><br><br>