---
layout: default
---
<span style="font-size: 37px;font-weight: strong;">Cyber Threat Hunter</span><br>

<b>Legend:</b><br>
<i class="fa-solid fa-stamp" style="color:#191970" aria-hidden="true" title="File Certificate"></i> File Certificate<br>
<i class="fa-solid fa-certificate" style="color:#191970" aria-hidden="true" title="Digital Badge"></i> Digital Badge<br>
<i class="fa-brands fa-youtube" style="color:#191970" aria-hidden="true" title="YouTube Video"></i> YouTube Video<br>
<i class="fa-solid fa-list" style="color:#191970" aria-hidden="true" title="YouTube Playlist"></i> YouTube Playlist<br>
<i class="fa-solid fa-paperclip" style="color:#191970" aria-hidden="true" title="White Paper"></i> White Paper<br>

{% for training in site.data.training_path_threathunter %}
  <h2>{{ training.category }}</h2>
{% endfor %}

  <br><br><br><br><br><br><br>