---
layout: default
---
<span style="font-size: 37px;font-weight: strong;">Curated Training Links</span>

<h2>Cyber Threat Hunter</h2>

  <section>
    <h2>Course</h2>
    {% for training in site.data.training_path_threathunter %}
    <div style="width:100%">
      <img src="./assets/images/training/{{ training.logo }}" alt="{{ training.alt }}" style="padding-right:8px;float:left;width:40px;height:auto;">
      <div style="width:115%;">
        <b>{{ training.title }}</b><br>
        {{ training.source }} &bull; {{ training.category }}<br><br>
        <p style="text-align: justify">{{ training.summary }}</p>
      </div>
    </div>
    {% endfor %}
  </section>


  <br><br><br><br><br><br><br>